.dropdown-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dropdown {
    width: 47%;
    height: 500px;
    margin-top: 50px;
}

.dropdown-title {
    background-color: #498654;
    color: white;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    height: 2.6em;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}



.dropdown-arrow {
    height: 15px;
    width: 25px;
    cursor: pointer;
}

.dropdown-text {
    background-color: #aee7b9;
    padding: 5%;
    border-radius: 10px;
    height: 72%;
    margin-top: 20px;
}


.lang {
    color: black;
    padding: 1% 1.5%;
    border: none;
    border-radius: 50px;
    margin: 0.7em 0.27em;
}


.background {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
    height: 450px;
    margin-top: 20px;
}



.color-change {
    color: #498654;
}

a,
a:visited {
    color: #498654;
}

a:hover {
    font-weight: bold;
}

@media (max-width: 1000px) {

    .dropdown-wrapper {
        flex-direction: column;
    }

    .dropdown {
        width: 90%;
        min-height: 30vw;
        padding: 5% 5% 2% 5%;
        height: 80%;
    }


    @media (max-width: 520px) {
        .dropdown-title h3 {
            font-size: 15px
        }

        .tech {
            margin: auto 0.25em;
        }

        .dropdown-text {
            font-size: 14px;
        }

        .background {
            height: 200px;
            margin-top: 20px;
        }

    }
}